{% extends "layouts/base.htm"%}
{% load crispy_forms_tags %}
{% block content %}

    <div class="content-section" style="margin: auto; width: 50rem;">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend style="color: #a6a9b6; font-weight: bold;">Join Now</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button type="submit" class="btn btn-outline-dark mt-2">Signup</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a style="text-decoration: none;" href="{% url 'account:login' %}">Log In</a>
            </small>
        </div>
    </div>

{% endblock %}