{% load static%}
<!doctype html>
<html dir="rtl" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}"/>

    <title>Karademy</title>
  </head>
  <body>
    {%include 'inc/navbar.htm'%}
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        {%block content%}
        {%endblock%}
      </div>
    </div>

    <script src="{% static 'js/jquery.min.js'%}"></script>
    <script src="{% static 'js/bootstrap.bunddle.min.js'%}"></script>
  </body>
</html>